{% include "header.html" %}
<script>
  function showmodal() {
    $("#modalError").modal("show");
  }
</script>

{% if conexao %}


  {% if dados %}
  <!--Aleta de Sucesso--->
  <div class="toast fade show" role="alert"  aria-live="assertive" aria-atomic="true" id="myAlert">

    <div class="toast-header">
      <label class="badge bg-success me-1">!</label>
      <strong class=”me-auto”>Sucesso</strong>  
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="close" onclick="removeAlert()">
            </button>
    </div>
      <div class="toast-body">
          Conexao estabelecidada com sucesso
      </div>
  </div>

  {% else %}

  {%endif%}
{% endif %}

<div class="container mt-5">
  <div class="row md-6">
    <!--<div class="modal fade" id="meuModal" tabindex="-1" aria-labelledby="meuModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="meuModalLabel">Título do Modal</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Este é o conteúdo do modal.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            <button type="button" class="btn btn-primary">Ação Principal</button>
          </div>
        </div>
      </div>
    </div>-->
        <form action="/valida_ssh" method="post">
          <div class="img"></div>
          <div class="mb-3">
            <div class="mb-3">
              <label for="ip" class="form-label">IP</label>
              <input
                type="text"
                class="form-control"
                id="ip"
                name="ip"
                placeholder="IP"
              />
            </div>
            <label for="porta" class="form-label">Porta</label>
            <input
              type="text"
              class="form-control"
              id="porta"
              name="port"
              placeholder="Porta"
            />
          </div>

          <div class="mb-3">
            <label for="usuario" class="form-label">Usuário</label>
            <input
              type="text"
              class="form-control"
              id="usuario"
              name="username"
              placeholder="Usuário"
            />
          </div>

          <div class="mb-3">
            <label for="senha" class="form-label">Senha</label>
            <input
              type="password"
              class="form-control"
              id="senha"
              name="password"
              placeholder="Senha"
              required
            />
          </div>

          <!--Teste para validação de mesma senha do root--->

          <!--<div>Mesma senha do root?</div>
                    <div class="form-check">
                        <input onclick="desabilita()" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                        <label class="form-check-label" for="flexRadioDefault1" >
                        sim
                        </label>
                    </div>
                    <div class="form-check" >
                        <input onclick="habilita()" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1" >
                        nao
                        </label>
                    </div>
                    
                    <div class="mb-3">
                        <label for="senha" class="form-label">Senha root</label>
                        <input type="input" class="form-control" id="senha_root" name="senha" placeholder="Senha do root">
                    </div>-->

          <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
  </div>
  {% if conexao %}
  <div class="row-md-5 ml-5" >
    <div class="input-group">
      {% if dados %}
      <div class="card mt-4" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <!-- campo copia e cola-->
            <div class="form-group mt-5">
              <!--<label for="copiar">Example textarea</label> -->
              <div class="row-md-5 ml-5">
                <div class="container">
                  <textarea disabled class="form-control" id="copiar" rows="5" cols="50">{{- dados -}}</textarea>
                </div>
              </div>
            </div>
              <div class="input-group-append">
                <button
                  class="btn btn-primary mt-2"
                  type="button"
                  id="btn-copiar"
                  onclick="copiarTexto(copiar)"
                >
                  Copiar
                </button>
              </div>
          </div>

      </div>
      
    </div>
    

     

  </div>
          {% else %}
         <!-- <div class="modal-backdrop fade show"></div>-->
        <!--  <div class="modal fade show" id="meuModal" aria-hidden="true" aria-labelledby="meuModalLabel" style="display: block;">
          </div>
        -->
          
          <!-- Modal -->

          <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Launch demo modal
          </button>-->
        
          <div class="toast fade show" role="alert"  aria-live="assertive" aria-atomic="true" id="myAlert">

            <div class="toast-header">
              <label class="badge bg-warning me-1">!</label>
              <strong class=”me-auto”>Aviso</strong>  
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="close" onclick="removeAlert()">
                    </button>
            </div>


            <div class="toast-body">
              {{ conexao }} 
            </div>
          </div>
            
          {% endif %}
      
      <!--<textarea class="card" id="texto-a-copiar" rows="5" disabled="disabled"  >
                        
                      </textarea>-->
    

    <script
      script
      type="text/javascript"
      src="{{url_for('static', filename='copy.js' )}}"
    ></script>
    <script
      script
      type="text/javascript"
      src="{{url_for('static', filename='gerarAlerta.js' )}}"
    ></script>

    <script>
      function removeAlert() {
        document.getElementById("myAlert").remove();
      }
      function showAlert() {
        window.alert();
      }
    </script>
  </div>
  {% endif %}
</div>

{% include "footer.html" %}
