

{% include "header.html" %}
<script> function showmodal(){
  $('#myModal').modal('show')

}</script>

  
<div class="container mt-5" >
        <div class="row md-6">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="modal-ssh-label">Validar SSH</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                <form action="/valida_ssh" method="post">
                    <div class="mb-3">
                    <label for="porta" class="form-label">Porta</label>
                    <input type="text" class="form-control" id="porta" name="port" placeholder="Porta">
                    </div>
                    <div class="mb-3">
                    <label for="ip" class="form-label">IP</label>
                    <input type="text" class="form-control" id="ip" name="ip" placeholder="IP">
                    </div>
                    <div class="mb-3">
                    <label for="usuario" class="form-label">Usuário</label>
                    <input type="text" class="form-control" id="usuario" name="username" placeholder="Usuário">
                    </div>
                    <div class="mb-3">
                    <label for="senha" class="form-label">Senha</label>
                    <input type="password" class="form-control" id="senha" name="password" placeholder="Senha">
                    </div>
                    <div>Mesma senha do root?</div>
                    <div class="form-check">
                        <input onclick="desabilita()" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                        <label class="form-check-label" for="flexRadioDefault1" >
                        sim
                        </label>
                    </div>
                    <div class="form-check" >
                        <input onclick="habilita()" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1" >
                        nao
                        </label>
                    </div>
                    
                    <div class="mb-3">
                        <label for="senha" class="form-label">Senha root</label>
                        <input type="input" class="form-control" id="senha_root" name="senha" placeholder="Senha do root">
                    </div>

                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
                </div>
            </div>
        </div>
        {% if conexao %}

            <!--MODAL POP UP-->
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="myModalLabel">Sucesso!</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <p>A operação foi realizada com sucesso.</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Fechar</button>
                    </div>
                  </div>
                </div>
              </div>
              

            <!--end modal pop up-->

            <div class="row-md-5 ml-5" onload="showmodal()">
                <div class="container">
                    <h1>Campo de copiar e colar</h1>
                
                    <div class="input-group">
                     
                        

                      <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title"></h5>
                          {% if dados %}
                            <p class="card-text texto-a-copiar" id="texto-a-copiar"> IP: {{ dados['ip'] }}</p>
                            <p class="card-text texto-a-copiar" id="texto-a-copiar"> Porta: {{ dados['port'] }}</p>
                            <p class="card-text texto-a-copiar" id="texto-a-copiar">Usuario: {{ dados['username'] }}</p>
                            <p class="card-text texto-a-copiar" id="texto-a-copiar">Senha: {{ dados['password'] }}</p>
                          {% endif %}
                        <div class="input-group-append">
                          <button class="btn btn-primary" type="button" id="btn-copiar" onclick="copiarTexto()">Copiar</button>
                        </div>
                        </div>
                      </div>
                      <!--<textarea class="card" id="texto-a-copiar" rows="5" disabled="disabled"  >
                        
                      </textarea>-->
                      
                    </div>
                
                    <script>
                      // Atribuir um evento de clique ao botão
                      function copiarTexto() {
                        let textoCopiado = document.getElementsByClassName("texto-a-copiar");
                        let text=''
                        console.log(textoCopiado)
                        Array.prototype.forEach.call(textoCopiado, function(el) {
                          text= text+el.innerText+ "\n"
                          console.log(text)
                        });
                        navigator.clipboard.writeText(text);
                        //textoCopiado.setSelectionRange(0, 99999)
                        //document.execCommand("copy");
                        alert("O texto é: " + text.value);}

                    </script>
                  </div>
            </div>
        {% endif %}
    
</div>
 

{% include "footer.html" %}